%meta{:content => "#{edition}. Sesja Linuksowa", :property => "og:site_name"}/
%meta{:content => "pl_pl", :property => "og:locale"}/
%meta{:content => "website", :property => "og:type"}/
%meta{:content => "#{edition}. Sesja Linuksowa", :property => "og:title"}/
%meta{:content => "http://#{edition}.sesja.linuksowa.pl", :property => "og:url"}/
%meta{:content => "Sesja Linuksowa to największa w Polsce konferencja poświęcona rozwiązaniom Open Source oraz najnowszym trendom w systemach z rodziny GNU/Linux.", :property => "og:description"}/
%meta{:content => "http://#{edition}.sesja.linuksowa.pl/img/logo.png", :property => "og:image"}/ 